/**
    * @name macOS Titlebar right
    * @description Replicates the Discord macOS titlebar on Windows, but in the right.
    * @version 2.0.1
    * @author LuckFire#4800 edited by Cortex
    *
    * @invite vYdXbEzqDs
    * @website https://github.com/discord-extensions
    * @source https://github.com/verysillycat/macos-titlebar-right
**/

.platform-win .typeWindows_e41dab {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  padding: 3px; 
  margin-left: -7px;
  width: 100%;
  -webkit-app-region: drag;
 }
 

 .platform-win .typeWindows_e41dab .wordmark__5b8c9 {
  flex: 1 0 auto;
  margin-right: 16px; 
  -webkit-app-region: no-drag;
 }

 .platform-win .typeWindows_e41dab .winButton_f17fb6 {
  width: 14px;
  height: 14px;
  margin-right: 8px; 
  margin-top: 3px;
  border-radius: 15px;
  background-color: var(--background-primary);
  background-size: 0;
  -webkit-app-region: no-drag;
  flex: 0 0 auto;
 }
 
 .platform-win .typeWindows_e41dab .winButton_f17fb6 svg {
  display: none;
}
.platform-win.app-focused .typeWindows_e41dab:hover div.winButton_f17fb6  {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.platform-win.app-focused .typeWindows_e41dab .winButtonClose__6396d {
  background-color: #ff5c57;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMjkyODkgNkwyLjgxODAxIDMuNTI1MTNMMy41MjUxMiAyLjgxODAyTDUuOTk5OTkgNS4yOTI4OUw4LjQ3NDg3IDIuODE4MDJMOS4xODE5NyAzLjUyNTEzTDYuNzA3MSA2TDkuMTgxOTcgOC40NzQ4N0w4LjQ3NDg3IDkuMTgxOThMNS45OTk5OSA2LjcwNzExTDMuNTI1MTIgOS4xODE5OEwyLjgxODAxIDguNDc0ODdMNS4yOTI4OSA2WiIgZmlsbD0iI0EyMDAwOCIvPgo8L3N2Zz4=);
}

.platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(2n) {
  background-color: #fdbd3d;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDUuMzk5OTlIMlY2LjU5OTk5SDEwVjUuMzk5OTlaIiBmaWxsPSIjQjM3MTFBIi8+Cjwvc3ZnPg==);
}
.platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(3n) {
  order: 3;
  background-color: #26c84b;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuMzkyOTMgMy4wMDg5M0wzLjAwODg3IDcuMzkyOTlMMi44MTc5NSAyLjgxODAxTDcuMzkyOTMgMy4wMDg5M1oiIGZpbGw9IiMwMjZBMTUiLz4KPHBhdGggZD0iTTQuNjA2OTUgOC45OTEwMUw4Ljk5MTAxIDQuNjA2OTVMOS4xODE5MyA5LjE4MTkzTDQuNjA2OTUgOC45OTEwMVogIiBmaWxsPSIjMDI2QTE1Ii8+Cjwvc3ZnPg==);
}

.notice__5fd4c, .bd-notice:first-child {
  z-index: 103;
  -webkit-app-region: drag;
  border-radius: 0;
}
.notice__5fd4c button, .notice__5fd4c .closeIcon__967e7, .bd-notice:first-child button, .bd-notice:first-child .closeIcon__967e7 {
  -webkit-app-region: no-drag;
}

.standardSidebarView__1129a {
  z-index: unset;
}
.standardSidebarView__1129a .sidebarRegionScroller__1fa7e {
  z-index: 103;
}
.standardSidebarView__1129a .contentRegion__0bec1 {
  z-index: 103;
}
.standardSidebarView__1129a .contentColumn_dc7d36 {
  -webkit-app-region: no-drag;
}

.platform-win .sidebar_e031be {
  border-radius: 0;
}
.platform-win .sidebar_e031be .header__104ca, .platform-win .sidebar_e031be .searchBar__621ec {
  z-index: 103;
}
.platform-win .sidebar_e031be .header__104ca, .platform-win .sidebar_e031be .searchBarComponent__8f95f {
  -webkit-app-region: no-drag;
}
.platform-win .sidebar_e031be .searchBar__621ec {
  -webkit-app-region: drag;
}

.chat__52833 {
  z-index: 103;
}

.container__26baa {
  z-index: 103;
  -webkit-app-region: drag;
}
.container__26baa .topic__16ae3,
.container__26baa .title_d4ba1a,
.container__26baa .nicknames__12efb > div,
.container__26baa .item_e4ca95,
.container__26baa .titleWrapper_d6133e[role=button] {
  -webkit-app-region: no-drag;
}
